<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PLX-5622 Information</title>
</head>
  <body style="font-family: Arial, sans-serif; font-size: 17px; color: #333333; line-height: 1.6;">
    <p style="font-size: 15px;">Contact Email: <a href="mailto:info@chemgood.com" style="color:#007BFF; text-decoration:none;">info@chemgood.com</a></p>
    <p><b>Dear Scientist,</b></p>

    <p>As you work on Alzheimer, you may be interested in <strong>PLX-5622</strong>. We are pleased to share that our product PLX-5622 has shown outstanding efficacy across multiple delivery methods, including <b>Diet-based, Gel-based, and Intraperitoneal (IP)</b> administration.</p>

    <p><strong>Product Details:</strong></p>
    <p><a href="https://chemgood.com/product/521" target="_blank">https://chemgood.com/product/521</a></p>

    <p><strong>GEL delivery method :</strong></p>
    <p><a href="https://www.biorxiv.org/content/10.1101/2025.01.23.634530v1.full.pdf+html" target="_blank">https://www.biorxiv.org/content/10.1101/2025.01.23.634530v1.full.pdf+html</a></p>

    <p><strong>IP injection method:</strong></p>
    <p><a href="https://pubmed.ncbi.nlm.nih.gov/35977514/" target="_blank">https://pubmed.ncbi.nlm.nih.gov/35977514/</a></p>
    <p style="font-size: 13px">Cell Rep. 2022 Aug 16;40(7):111209. Microglia contribute to the postnatal development of cortical somatostatin-positive inhibitory cells and to whisker-evoked cortical activity.</p>

    <p>Most importantly, we are committed to offering the <b>highest quality at the most competitive prices</b>. If you find a lower price elsewhere, we’ll gladly <b>beat it</b>.</p>

    <p>Our PLX-5622 is synthesized in-house to ensure consistent quality and reliable performance. In contrast, other suppliers rely on open-market sourcing, often resulting in variable quality.</p>

    <p>If you have any questions or would like to request samples, please feel free to contact <a href="mailto:info@chemgood.com" style="color:#007BFF; text-decoration:none;">info@chemgood.com</a>.<br></p>

    <p>Best Regards</p>

    <p>Peter</p>

    <p>----------------------------------------------------------------------------</p>

    <p style="color:purple;">PLX-5622 publications sourced via Chemgood.com</p>
    <p style="color:grey;font-size: 13px">Science. 2024 Jun 21;384(6702):eadh5548. doi: 10.1126/science.adh5548. Epub 2024 Jun 21.
Breast cancer exploits neural signaling pathways for bone-to-meninges metastasis.
Andrew E Whiteley # 1, Danhui Ma # 1, Lihua Wang 1, Seok-Yeong Yu 1, Claire Yin 1, Trevor T Price 1, Brennan G Simon 1, Katie R Xu 1, Kathleen A Marsh 1, Maegan L Brockman 1, Tatiana M Prioleau 1, Katherine I Zhou 1, Xiuyu Cui 2, Peter E Fecci 2, William R Jeck 3, Chad M McCall 3, Jadee L Neff 3, Dorothy A Sipkins 1</p>

     <p style="color:grey;font-size: 13px">Nature Neuroscience. 2023 Oct 17:2023.10.17.562708. doi: 10.1101/2023.10.17.562708.
Microglia are dispensable for experience-dependent refinement of mouse visual circuitry.
Thomas C Brown 1, Emily C Crouse 1, Cecilia A Attaway 1, Dana K Oakes 1, Sarah W Minton 1, Bart G Borghuis 1, Aaron W McGee 1</p>

     <p style="color:grey;font-size: 13px">Nature. 2023 Jan;613(7942):120-129. doi: 10.1038/s41586-022-05534-y.
Microglia regulate central nervous system myelin growth and integrity.
McNamara NB, Munro DAD, Bestard-Cuche N, Uyeda A, Bogie JFJ, Hoffmann A, Holloway RK, Molina-Gonzalez I, Askew KE, Mitchell S, Mungall W, Dodds M, Dittmayer C, Moss J, Rose J, Szymkowiak S, Amann L, McColl BW, Prinz M, Spires-Jones TL, Stenzel W, Horsburgh K, Hendriks JJA, Pridans C, Muramatsu R, Williams A, Priller J, Miron VE.</p>

     <p style="color:grey;font-size: 13px">Cell Rep. 2022 Aug 16;40(7):111209.
Microglia contribute to the postnatal development of cortical somatostatin-positive inhibitory cells and to whisker-evoked cortical activity.
Lorenzo Gesuita 1, Anna Cavaccini 1, Ali Özgür Argunsah 1, Emilia Favuzzi 2, Leena Ali Ibrahim 2, Tevye Jason Stachniak 1, Martina De Gennaro 1, Sebastian Utz 3, Melanie Greter 3, Theofanis Karayannis 4</p>

     <p style="color:grey;font-size: 13px">Immunity 2021 July 13, 54, 1–16.
Treg cell-derived osteopontin promotes microglia-mediated white matter repair after ischemic stroke.
Ligen Shi, Zeyu Sun, Wei Su, Fei Xu, Di Xie, and Xiaoming Hu</p>

     <p style="color:grey;font-size: 13px">J Neuroinflammation. 2022; 19: 173.
Repopulated microglia induce expression of Cxcl13 with differential changes in Tau phosphorylation but do not impact amyloid pathology.
Berke Karaahmet,#1 Linh Le,#1 Monique S. Mendes,#1,2 Ania K. Majewska,corresponding author1 and M. Kerry O’Banioncorresponding author1</p>

     <p style="color:grey;font-size: 13px">Nat Commun. 2019 Aug 21;10(1):3758.
Sustained microglial depletion with CSF1R inhibitor impairs parenchymal plaque development in an Alzheimer's disease model.</p>
  </body>
</html>
