<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>   </title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; padding: 20px;font-size: 16px;background-color: #f8f8f8;">

  <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 900px; margin: auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.05); padding: 30px;">
      <tr>
        <td>
          <p>Contact: <a href="mailto:info@chemgood.com">info@chemgood.com</a></p>
          
          <p style="font-size: 16px;">Dear Scientist,</p>

          <p style="font-size: 16px;">
            If you're studying the<strong>  </strong>, <strong>  </strong> may be a valuable tool for your research.:
          </p>

          <p style="font-size: 16px; margin: 20px 0;">
            👉 <a href="https://chemgood.com/product/" style="color: #1a73e8;"> Product Page</a><br>
          </p>

          <ul>
            
          </ul>

          <p>We offer <strong>high purity</strong>, <strong>competitive pricing</strong>, and will <strong>beat any lower offer</strong>.</p>

          <p>Please let us know if you would like COA, MSDS, or bulk pricing information.</p>

          <p>Best regards,<br>
             Peter</p>
        </td>
      </tr>
    </table>

</body>
</html>